@import "tailwindcss";
@custom-variant dark (&:where(.dark,.dark *));
body {
  margin-top: 70px;
}

/* Oculta scrollbar en todos los navegadores */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
