@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark,.dark *));

@layer base {
  :root {
    --font-sans: "Roboto Flex", sans-serif;
  }
  body {
    font-family: var(--font-sans);
  }
}

body {
  margin-top: 70px;
}

/* Oculta scrollbar en todos los navegadores */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
